<header class="contact-header">
  <div class="contact-header-container">
    <div class="contact-header-border">
      <img src="./assets/images/contact-logo.png" alt="" />
    </div>
  </div>
</header>
<footer class="contact-footer">
  <!-- <div class="contact-footer-link">
    <a href="http://kromo.donovanhiland.com/#/home">Visit Site</a>
  </div> -->
  <div class="contact-footer-text">
    <h1>Contact Me</h1>
  </div>
  <div class="contact-footer-icons">
    <a href="https://www.linkedin.com/in/spencerkekauoha"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
    <a href="mailto:spkekauoha@gmail.com"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a>
    <a href="https://github.com/SpencerKekauoha"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/spencer.kekauoha"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
  </div>
</footer>
