<div class="sandwich" id="toggle-nav">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<div class="menu" id="menu">
      <div class="menu-list">
        <ul>
          <li><a class="nav-link" ui-sref="welcome">Welcome</a></li>
          <li><a class="nav-link" ui-sref="portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#">About</a></li>
          <li><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
