<header class="port-header">
  <div class="port-vid-container">
    <video class="port-vid" src="./assets/images/slomobigsurmp4.mp4" autoplay muted loop poster="">

    </video>
    <div class="port-border-container">
      <h1>PROJECTS</h1>
    </div>
    <div class="port-yui-container">
      <div>
        <p>
          <a ui-sref="yui">View Project</a>
        </p>
      </div>
    </div>
    <div class="port-hana-container">
      <div>
        <p>
          <a href="#">View Project</a>
        </p>
      </div>
    </div>
    <div class="port-weather-container">
      <div>
        <p>
          <a href="#">View Project</a>
        </p>
      </div>
    </div>
    <div class="port-domo-container">
      <div>
        <p>
          <a href="#">View Project</a>
        </p>
      </div>
    </div>
  </div>
</header>
