<header class="yui-section">
  <div class="yui-title-container">
    <img src="./assets/images/domo.png" alt="" />
  </div>
  <div class="yui-logo-wrapper">
    <div class="yui-logo-container">
      <img src="./assets/images/domo/globe.png" alt="" />
    </div>
    <div class="yui-logo-info-container">
      <h1>Domo App Clone</h1>
      <p>
        As a group project, we cloned a Domo App that uses data manipulation to allow businesses to make informed decisions.
      </p>
    </div>
  </div>
</header>
<section class="yui-feature-section">
  <div class="yui-feature-wrapper">
    <div class="yui-feature-info-container">
      <h1>Front-End Design</h1>
      <p>
        As lead developer for Front-End design, a close replica of Domo was built using Angular, SCSS, Gulp, jQuery, and JavaScript.
      </p>
    </div>
    <div class="yui-feature-container">
      <img src="./assets/images/domo/cards.png" alt="" />
    </div>
  </div>
</section>
<section class="yui-pic-section">
  <div class="yui-logo-wrapper">
    <div class="yui-logo-container">
      <img src="./assets/images/domo/signin.png" alt="" />
    </div>
    <div class="yui-logo-info-container">
      <h1>Passport</h1>
      <p>
        Using PassportJS, users are able to sign in and view their customized data layout.
      </p>
    </div>
  </div>
</section>
<section class="yui-social-section">
  <div class="yui-feature-wrapper">
    <div class="yui-feature-info-container">
      <h1>API and D3JS</h1>
      <p>
        Our data team pulled in data from a Twitter API and organized the data using D3JS.
      </p>
    </div>
    <div class="yui-feature-container">
      <img src="./assets/images/domo/d3.png" alt="" />
    </div>
  </div>
</section>
<footer>
  <div class="footer-link">
    <a href="http://kromo.donovanhiland.com/#/home">Visit Site</a>
  </div>
  <div class="footer-text">
    <h1>Contact Me</h1>
  </div>
  <div class="footer-icons">
    <a href="https://www.linkedin.com/in/spencerkekauoha"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
    <a href="mailto:spkekauoha@gmail.com"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a>
    <a href="https://github.com/SpencerKekauoha"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/spencer.kekauoha"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
  </div>
</footer>
