<header class="yui-section">
  <div class="yui-title-container">
    <img src="./assets/images/yui/yui-card.png" alt="" />
  </div>
  <div class="yui-logo-wrapper">
    <div class="yui-logo-container">
      <img src="./assets/images/yui.png" alt="" />
    </div>
    <div class="yui-logo-info-container">
      <h1>YUI</h1>
      <p>
        In Okinawan, Yui means to connect, collobrate, or come together as a group to acommplish a task. Yui was created to connect designers with businesses to build projects. CSS animations were used to make the logo stand-out.
      </p>
    </div>
  </div>
</header>
<section class="yui-feature-section">
  <div class="yui-feature-wrapper">
    <div class="yui-feature-info-container">
      <h1>Featured Designer</h1>
      <p>
        Yui features a unique designer weekly to help them gain exposure.  Elements of parallax and jQuery were used in the design.
      </p>
    </div>
    <div class="yui-feature-container">
      <img src="./assets/images/yui/featured.png" alt="" />
    </div>
  </div>
</section>
<section class="yui-pic-section">
  <div class="yui-logo-wrapper">
    <div class="yui-logo-container">
      <img src="./assets/images/yui/yui-pics.png" alt="" />
    </div>
    <div class="yui-logo-info-container">
      <h1>Image Flow</h1>
      <p>
        Using the Mean Stack, images are stored in a database after a user makes a post.  Additionally, they can update or delete their post as well.
      </p>
    </div>
  </div>
</section>
<section class="yui-social-section">
  <div class="yui-feature-wrapper">
    <div class="yui-feature-info-container">
      <h1>Social Media & Exposure</h1>
      <p>
        Utilizing PassportJS, users can sign in and post their designs.  JavaScript logic is used to allow users that are signed in to like other posts.
      </p>
    </div>
    <div class="yui-feature-container">
      <img src="./assets/images/yui/vader.png" alt="" />
    </div>
  </div>
</section>
