<header class="about-header">
  <div class="about-header-container">
    <div class="about-header-border">
      <img src="./assets/images/about-logo.png" alt="" />
    </div>
  </div>
</header>
<section class="about-profile-section">
  <div class="about-logo-wrapper">
    <div class="about-logo-container">
      <img src="./assets/images/profile.jpg" alt="" />
    </div>
    <div class="about-logo-info-container">
      <h1>Spencer Kekauoha</h1>
      <p>
        I am a MEAN Stack Developer from Hawaii, living in Provo, UT.
        I'm new to the world of coding, but I can't image doing anything else.
      </p>
      <div id="bw-icon-container">
        <a href="https://www.linkedin.com/in/spencerkekauoha"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
        <a href="mailto:spkekauoha@gmail.com"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a>
        <a href="https://github.com/SpencerKekauoha"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/spencer.kekauoha"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="yui-feature-section">
  <div class="yui-feature-wrapper">
    <div class="yui-feature-info-container">
      <h1>Technology Used</h1>
      <p>
        Angular, JavaScript, jQuery, HTML, CSS/SCSS, Gulp, NodeJs, Express, MongoDB/Mongoose,
        Socket.io, Parallax, Git/GitHub.
      </p>
    </div>
    <div class="yui-feature-container">
      <img src="./assets/images/waves.jpg" alt="" />
    </div>
  </div>
</section>
<footer class="about-footer">
  <div class="about-footer-icons">
    <a href="https://www.linkedin.com/in/spencerkekauoha"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
    <a href="mailto:spkekauoha@gmail.com"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a>
    <a href="https://github.com/SpencerKekauoha"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/spencer.kekauoha"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
  </div>
</footer>
