<header class="about-header">
  <div class="about-header-container">
    <div class="about-header-img">
      <img class="about-fixed-image" src="https://images.unsplash.com/photo-1429591444377-330b363f2215?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=cc7e2c7f378f64e9d5dfdfe33278d090" alt="" />
      <div class="about-header-border">
        <img src="./assets/images/about-logo.png" alt="" />
      </div>
    </div>
  </div>
</header>
<section class="intro-section">
  <div class="intro-background">
    <div class="intro-bio-header">
      <h1>Biography</h1>
      <div class="intro-img-container">
        <img src="./assets/images/profile.jpg" alt="" />
        <div class="intro-info-container">
          <p>
            I'm Spencer and I am a MEAN Stack Developer from Hawaii, living in Provo, UT.
            I'm new to the world of coding, but I can't image doing anything else.
          </p>
          <p>
            When I'm not coding or learning new technologies, I am hanging out with my family, camping, or
            dreaming about surfing.
          </p>
          <div class="bw-icon-container">
            <a href="https://www.linkedin.com/in/spencerkekauoha"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
            <a href="mailto:spkekauoha@gmail.com"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a>
            <a href="https://github.com/SpencerKekauoha"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/spencer.kekauoha"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class=tech-section>
  <div class="tech-header-container">
    <h1>TECHNOLOGY</h1>
  </div>
  <ul class="tech-list">
    <li>Angular</li>
    <li>JavaScript</li>
    <li>jQuery</li>
    <li>HTML5</li>
    <li>CSS/SCSS</li>
    <li>Gulp</li>
    <li>NodeJS</li>
    <li>MongoDB</li>
    <li>Socket.io</li>
    <li>Parallax</li>
    <li>Git/GitHub</li>
    <li>Responsive Web Design</li>
  </ul>
</section>







<!-- <section class="bw-section">
  <div class="bw-image-container">
    <h1>SPENCER</h1>
    <p>
      Hi, I'm Spencer and I am a MEAN Stack Developer from Hawaii, living in Provo, UT.
      I'm new to the world of coding, but I can't image doing anything else.
    </p>
    <p>
      When I'm not coding or learning new technologies, I am hanging out with my family, camping, or
      dreaming about surfing.
    </p>
    <div class="bw-icon-container">
      <a href="https://www.linkedin.com/in/spencerkekauoha"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
      <a href="mailto:spkekauoha@gmail.com"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a>
      <a href="https://github.com/SpencerKekauoha"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/spencer.kekauoha"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="bw-logo-container">
    <div class="bw-border">
      <ul class="bw-grid">
        <li><img src="./assets/images/code-badges/angular.png" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/css.png" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/html.png" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/JavaScript-logo.png" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/jquery.png" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/gulp.png" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/mongo.png" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/nodejs.png" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/sass.svg" alt="" class="badge" /></li>
        <li><img src="./assets/images/code-badges/socket-logo.png" alt="" class="badge" /></li>
      </ul>
    </div>
  </div>
</section> -->
